@use "style";
//
////<div className={styles.chatContainer}>
////<header className={styles.chatHeader}>
////<h2>Чат</h2>
////</header>
////<main className={styles.chatMain}>
////<ul ref={messagesRef} className={styles.messages}></ul>
////</main>
////<footer className={styles.chatFooter}>
////<form className={styles.messageForm} onSubmit={sendMessage}>
////<textarea
//// className={styles.inputContain}
////ref={messageInputRef}
////placeholder="Введите сообщение..."
/////>
////<button type="submit" className={styles.buttonSubmit}>Отправить</button>
////</form>
////</footer>
////</div>
//
.chatContainer{
  width: 100%;
  height: 100%;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  background: style.$new-gray ;
}
//
.chatHeader{
  background-image: linear-gradient(style.$dark-pink, style.$super-dark-pik);
  color: style.$white;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
}
//
//.partnerInfo {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  padding: 10px;
//  width: 100%;
//}
//
.partnerName{
  position: absolute;
  left: 80px;
  font-size: 22px;
  font-weight: bold;
  color: style.$white;
  top:0;
  transform: translateY(50%);
}
.partnerStatus{
  display: flex;
  position: absolute;
  left: 80px;
  bottom: 0;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}
.backbuttonChat{
  padding: 0;
  margin: 0;
  color: style.$white;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  transform: translateY(50%);
  right: 0;
  background: none;
  &:hover{
    background: none;
    border: none;
  }
}

.moreButton {
  color: style.$white;
  background: transparent;

  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  left:auto;
  top:50%;
  transform: translateY(-50%);
  right: 0;
  background: none;
  &:hover{
    background: none;
    border: none;
  }
}
//
//.chatMain{
//  width: 100%;
//  height: 100%;
//  background-image: url("./public/svg/background-dark.svg");
//}
//
//.messages {
//  padding: 80px;
//  list-style: none;
//  //padding: 5px 20px;
//  flex: 1;
//  height: calc(100vh - 70px);
//  overflow-y: auto;
//  margin-bottom: 0;
//  background-image: url("../image/pattern-1.svg");
//  &::-webkit-scrollbar {
//    width: 5px; /* set scrollbar width */
//  }
//
//  &::-webkit-scrollbar-thumb {
//    background-color: style.$light-gray;
//    border-radius: 10px;
//  }
//}
//.message {
//  display: flex;
//  flex-direction: column;
//  margin-bottom: 10px;
//  padding: 10px;
//  border-radius: 20px;
//  position: relative;
//  max-width: 70%;
//}
//
//.message.sent {
//  align-self: flex-end;
//  background-color: #FFB6C1; // Цвет для отправленных сообщений
//  color: #000; // Цвет текста
//}
//
//.message.received {
//  align-self: flex-start;
//  background-color: #FFE4E1; // Цвет для полученных сообщений
//  color: #000; // Цвет текста
//}
//
//.messageStatusIcon {
//  position: absolute;
//  width: 25px;
//  height: 25px;
//  bottom: 5px;
//  right: 10px;
//  font-size: 14px;
//  color: #FF1493; // Цвет иконок статуса
//}
////.message.sent, .message.received {
////  color: style.$gray;
////  width: fit-content;
////  max-width: 70%;
////  min-width: 50px;
////  word-break: break-word;
////  border-radius: 20px;
////  margin-bottom: 10px;
////  padding: 5px 10px 1px;
////  flex-direction: column;
////}
////
////.message.sent {
////  text-align: right;
////  background-color: #FFB6C1;
////  margin-left: auto;
////}
////
////.message.received {
////  align-items: flex-start;
////  background-color: #FFE4E1;
////  margin-right: auto;
////}
//
.chatFooter, .messageForm{
  background-image: linear-gradient(style.$dark-pink, style.$super-dark-pik);
  color: style.$white;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.messageForm{
  position:relative;
}
//
.inputContain{
  width: 95%;
  height: 50px;
  max-height: 60px;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border-radius: 15px;
  background: style.$dark-gray;
  color: style.$white;
  box-sizing: border-box;
  overflow-y: auto;
  //max-height: 80px;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  white-space: pre-wrap;
  align-self: center;

  border: 1px solid style.$white;
}
//
.buttonSubmit{
  flex: 1;
  position: absolute;
  bottom: 10px;
  left: inherit;
  right: -22px;
  color: style.$white;
  width: 50px;
  height: 30px;
  border: 1px solid style.$white;
}

.attachIco{
  transform: rotate(90deg);
}

.buttonAttach {
  flex: 1;
  position: absolute;
top: 5px;
  left: inherit;
  right: -22px;
  color: style.$white;
  width: 50px;
  height: 30px;
  border: 1px solid style.$white;

}

$primary-color: #FFC0CB;
$secondary-color: #1E1E1E;
$accent-color: #FF69B4;
$background-color: #121212;
$scrollbar-color: #ccc;
$button-after: #FF1493;

html, body {
  width: 100%;
  height: 100vh;
}
//
//body.chat-body {
//  font-family: Arial, sans-serif;
//  margin: 0;
//  padding: 0;
//  display: flex;
//  width: 100%;
//  flex-direction: column;
//  background-color: $background-color;
//}

//.chat {
//  padding-top: 60px;
//  margin-top: 60px;
//  border-radius: 15px;
//  width: 100%;
//  max-width: 600px;
//  border: none;
//  background-color: $secondary-color;
//  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
//  display: flex;
//  flex-direction: column;
//}

.messages {
  margin-top: 80px;

  list-style: none;
  padding: 5px 20px;
  flex: 1;
  height: calc(100vh - 70px);
  overflow-y: auto;
  margin-bottom: 0;
  background-color: style.$new-gray;
  background-image: url("./public/svg/background-dark.svg");
  &::-webkit-scrollbar {
    width: 5px; /* set scrollbar width */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 10px;
  }
}

.message-form {
  border-radius: 15px;
  display: flex;
  width: 100%;
  background-color: $primary-color;
  padding: 10px;
  height: fit-content;
  background-image: linear-gradient(to left bottom, $primary-color, $accent-color);
  textarea {
    height: 100%;
    transition: height 0.2s ease;
    border-radius: 20px;
    flex-grow: 1;
    padding: 10px;
    border: none;
    background-image: linear-gradient(to left bottom, $primary-color, $accent-color);
    color: $secondary-color;
    box-sizing: border-box;
    margin-right: 10px;
    overflow-y: auto;
    max-height: 100px;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    white-space: pre-wrap;
    align-self: center;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-color;
      border-radius: 10px;
    }
  }

  button {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: $accent-color;
    color: #000000;
    border: none;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: #FF1493;
    }
  }
}

.message.sent, .message.received {
  color: $secondary-color;
  width: fit-content;
  max-width: 70%;
  min-width: 50px;
  word-break: break-word;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 5px 10px 1px;
  flex-direction: column;
}

.message.sent {
  text-align: right;
  background-color: #FFB6C1;
  margin-left: auto;
}

.message.received {
  align-items: flex-start;
  background-color: #FFE4E1;
  margin-right: auto;
}

@keyframes fadeInWithBounce {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  animation: fadeInWithBounce 0.5s ease;
  transition: transform 0.5s;
  position: relative;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 25px;
  flex-direction: column;
}

.message.destroy {
  transform: scale(0);
}

.header {
  display: flex;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  overflow-y: hidden;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-shrink: 0;
  height: fit-content;
  background-color: $secondary-color;
}

.partner-info {
  display: flex;
  align-items: center;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 5vh;
  padding: 10px;
  background-color: $primary-color;
  background-image: linear-gradient(to right top, $primary-color, $accent-color);
  border-bottom: 1px solid #333;
}

.partner-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $scrollbar-color;
  margin-right: 10px;
  display: inline-block;
}

.partner-name {
  display: inline-block;
  width: 20%;
  font-size: 16px;
  font-weight: bold;
  color: $secondary-color;
}

.partner-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 24px;
  cursor: pointer;
}

.message-status-icon {
  transform: scale(0.7);
  position: absolute;
  bottom: -5px;
  right: -21px;
  color: #FF1493;
}

.partner-actions button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
}

.partner-actions button:hover {
  border-radius: 10px;
  background-color: #ff9dab;
}

.message .timestamp {
  font-size: 0.7em;
  color: #666;
  margin-bottom: 0;
  display: block;
  padding: 0 3px;
}

.message .delete-button {
  position: absolute;
  top: 0;
  margin: 0 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: none;
}

.message:hover .delete-button {
  right: -27px;
  display: block;
}

.message .delete-button i.material-icons {
  font-size: 18px;
  color: #FF1493;
}

.message-form .attach-button {
  background: transparent;
  margin-right: 10px;
  padding: 8px;
  cursor: pointer;
  font-size: 20px;
  border-style: none;
}

.message-form .attach-button i.material-icons {
  background: transparent;
  font-size: 20px;
  color: $secondary-color;
}

.message-form .attach-button:hover {
  border-radius: 10px;
  background-color: #ff9dab;
}

.sender-name {
  font-size: 0.8em;
  color: #FF1493;
  margin-bottom: 3px;
}

.message.sent .sender-name {
  margin-left: auto;
  padding-right: 5px;
  text-align: right;
}

.message.received .sender-name {
  margin-right: auto;
  padding-left: 5px;
  text-align: left;
}