@use "style";
//
////<div className={styles.chatContainer}>
////<header className={styles.chatHeader}>
////<h2>Чат</h2>
////</header>
////<main className={styles.chatMain}>
////<ul ref={messagesRef} className={styles.messages}></ul>
////</main>
////<footer className={styles.chatFooter}>
////<form className={styles.messageForm} onSubmit={sendMessage}>
////<textarea
//// className={styles.inputContain}
////ref={messageInputRef}
////placeholder="Введите сообщение..."
/////>
////<button type="submit" className={styles.buttonSubmit}>Отправить</button>
////</form>
////</footer>
////</div>
////
.chatContainer{
  width: 100%;
  height: 100%;
  background: transparent ;
  &.darkMode{
    .messages{
      background-color: style.$white-pink;
      background-image: url("./public/svg/background1.svg");
    }
    .chatHeader {
      color: style.$black;
      background: rgba(121, 38, 87, 0.3);
      backdrop-filter: blur(10px);
    }
    .partnerName, .messageStatusIcon{
      color: style.$dark-pink;
    }
    .partnerStatus{
      color: style.$dark-gray;
    }
    .moreButton, .backbuttonChat, .phoneButton, .buttonSubmit, .buttonVoice, .buttonEmoji, .buttonAttach{
      color: style.$dark-gray;
      &:hover{
        color: style.$dark-pink2;
      }
    }
    .sent .messageContent {
      color: style.$black;
      background: rgba(166, 60, 99, 0.7);
      backdrop-filter: blur(10px);

    }

    .received .messageContent {
      color: style.$black;
      background-color: rgba(110, 0, 56, 0.7);
      backdrop-filter: blur(10px);
    }
    .messageText, .timestamp {
      color: style.$black;
    }

    .messageStatusIcon {
      color: style.$dark-pink;
    }

    .inputContain {
      background: style.$white;
      color: style.$black;
      &::placeholder{
        color: style.$black;
      }
    }
  }
}


/* ------------ HEADER ------------ */
.chatHeader{
  //background-image: linear-gradient(style.$dark-pink, style.$super-dark-pik);
  //background-color: rgba(138, 39, 91, 0.43);
  color: style.$white;
  background: rgba(239, 54, 157, 0.26);
  backdrop-filter: blur(10px);
  display: flex;
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 80px;
  //height: 70px;
}

.partnerName{
  position: absolute;
  left: 80px;
  font-size: 22px;
  font-weight: bold;
  color: style.$light-pink;
  top:0;
  transform: translateY(50%);
}
.partnerStatus{
  color: style.$white;
  display: flex;
  position: absolute;
  left: 80px;
  bottom: 0;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}
.backbuttonChat{
  padding: 0;
  margin: 0;
  color: style.$gray;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  transform: translateY(50%);
  right: 0;
  background: none;
  &:hover{
    background: none;
    border: none;
  }
}
.phoneButton{
  color: style.$gray;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 40px;
  position: absolute;
  left:auto;
  top:50%;
  transform: translateY(-50%);
  right: 40px;
  background: none;
}
.moreButton {
  color: style.$gray;
  background: transparent;

  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  left:auto;
  top:50%;
  transform: translateY(-50%);
  right: 0;
  background: none;
}

/* ------------ BUTTONS ------------ */
.moreButton, .backbuttonChat, .buttonAttach, .buttonEmoji, .buttonSubmit, .buttonVoice, .phoneButton {
  &:hover {
    color: style.$light-pink;
    background: none;
    border: none;
    box-shadow: none;
  }
}

/* ------------ MAIN ------------ */
.chatMain{
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 5;
  //background-image: url("./public/svg/background-dark.svg");
  //z-index: 20;
}

.messages {
  //margin-top: 80px;
  color: style.$white;
  //margin-top: 80px;
  list-style: none;
  padding: 85px 25px 65px 20px;
  flex: 1;
  height: calc(100vh);
  overflow-y: auto;
  margin-bottom: 0;
  background-color: style.$dark-gray;
  background-image: url("./public/svg/background2.svg");
  z-index: 7;
  position: relative;
  &::-webkit-scrollbar {
    width: 5px; /* set scrollbar width */
  }

  &::-webkit-scrollbar-thumb {
    background-color: style.$light-gray;
    border-radius: 10px;
  }
}
.message {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px; // Отступ между сообщениями
  background-color: transparent;
}

.sent {
  justify-content: flex-end; // Выравнивание отправленных сообщений вправо
}

.received {
  justify-content: flex-start; // Выравнивание входящих сообщений влево
}

.messageContent {
  position: relative;
  left: 18px;
  border-radius: 20px; // Радиус скругления
  padding: 10px; // Отступы для текста сообщения
  max-width: 70%; // Максимальная ширина
  word-break: break-word; // Перенос слов
  overflow-wrap: break-word; // Перенос длинных слов
}

.sent .messageContent {
  //background: rgba(239, 54, 157, 0.26); // Цвет фона для отправленных сообщений

  background:  #EB5284;
  backdrop-filter: blur(5px);
  color: style.$white; // Цвет текста для отправленных сообщений
}

.received .messageContent {
  //background: rgba(200, 200, 200, 0.26); // Цвет фона для входящих сообщений
  //color: style.$black; // Цвет текста для входящих сообщений
    background-color: #F19CBB;
    backdrop-filter: blur(5px);
}

.messageText {
  color: white;
}

.timestamp {
  position: relative;
  font-size: 0.7em; // Размер шрифта для времени
  color: white; // Цвет для времени
  //margin-top: 10px; // Отступ сверху, чтобы отделить от текста сообщения
  //margin-left: 5px;
  left: 20px;
  bottom:0;
}

.messageStatusIcon {
  position: relative;
  bottom: 10px;
  right: 5px;
  margin: 0; // Отступ от текста сообщения
  color: style.$white-pink;
}
.avatar {
  width: 40px; // Ширина аватара
  height: 40px; // Высота аватара
  border-radius: 50%; // Скругление для круглого аватара
  margin-right: 10px; // Отступ справа от аватара
  align-self: flex-start; // Выравнивание по вертикали
}

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translate(-30px, -20px);
  }
  50% {
    opacity: 0.5;
    transform: translate(-10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.deleteButton {
  position: absolute;
  left: -30px; /* Позиция кнопки слева от сообщения */
  background: transparent;
  border: none;
  cursor: pointer;
  color: style.$dark-pink; /* Или любой другой цвет */
  opacity: 0; /* Начальное состояние кнопки */
  transform: translateY(-20px); /* Начальное смещение для анимации */
  transition: opacity 0.3s ease; /* Плавный переход для opacity */
  border-radius: 50%; /* Округлая форма кнопки */
  width: 30px; /* Размер кнопки */
  height: 30px; /* Размер кнопки */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: appearFromLeft 0.5s forwards; /* Применение анимации */
  visibility: hidden; /* Скрываем кнопку по умолчанию */
  &:hover{
    border: none;
    background: none;
    box-shadow: none;
    color: style.$pink;
  }
}

.show {
  opacity: 1; /* Полная видимость кнопки */
  visibility: visible; /* Делаем кнопку видимой */
}

/* ------------ FOOTER ------------ */

.chatFooter, .messageForm{
  //background-image: linear-gradient(style.$dark-pink, style.$super-dark-pik);
  background: transparent;
  color: style.$white;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 5;
}
.messageForm{
  z-index: 9;
  background-color: transparent;
  //z-index: 1;
  position:relative;
}
//
.inputContain{
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  height: 50px;
  max-height: 60px;
  margin: 5px 5px 5px 5px;
  padding: 10px 100px 10px 35px;
  border-radius: 15px;
  background: style.$dark-gray;
  color: style.$white;
  box-sizing: border-box;
  overflow-y: auto;
  //max-height: 80px;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  white-space: pre-wrap;
  align-self: center;

  border: 1px solid style.$pink;
}
//
.buttonSubmit{
  flex: 1;
  position: absolute;
  bottom: 10px;
  //left: inherit;
  left: auto;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: style.$gray;
  width: 50px;
  height: 30px;
  border: none;
  background: none;
}

.buttonVoice{
  flex: 1;
  position: absolute;
  bottom: 10px;
  //left: inherit;
  left: auto;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: style.$gray;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}

.buttonEmoji{
  flex: 1;
  position: absolute;
  bottom: 10px;
  //left: inherit;
  left: auto;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  color: style.$gray;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}

.attachIco{
  transform: rotate(45deg);
}

.buttonAttach {
  flex: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  color: style.$gray;
  width: 30px;
  height: 50px;
  border: none;
  background: none;
}