@use "style";

.mainEntry{
  margin: 20px auto;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 350px;
  height: 500px;
  overflow: hidden;
  background-image: linear-gradient(style.$pink, style.$dark-pink);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  &.dark-mode {
    background-image: linear-gradient(style.$light-pink, style.$pink);

    .login, input {
      background-color: style.$white;
    }

    input:hover, button:hover {
      box-shadow: 0 2px 10px style.$dark-pink;
    }

    .message, .error {
      background-color: style.$white;
    }
  }
}

.headerEntry, .footerEntry{
  position: absolute;
  left: 0;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.headerEntry{
  top: 0;
}

.footerEntry{
  bottom: 0;
  font-size: 10px;
  text-align: center;
  padding: 0;
}

.header-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header-links, .hide-checkbox{
  right: 0;
  width: 0;
  height: 0;
}

.header-link{
  width: 0;
  margin-right: auto;
}

.searchEntry {
  position: absolute;
  padding: 0;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 300px;
  transition: width 0.3s ease;
}

.searchEntry.focused {
  width: 450px;
}

.darkmodeEntry{
  flex: 1;
  position: absolute;
  right: 0;
  top: 50%;
  transform:translateY(-50%) scale(0.4)  ;
  padding: 0;
  margin: 0;
  transform-origin: right;
  align-self: center;
  justify-content: center;
}

.logoEntry{
  position: absolute;
  top: 50%;
  left: 0;
  transform:translateY(-50%)
}

.registrationlabelEntry, .loginlabelEntry{
  margin: 30px 10px 20px 10px;
  font-size: 30px;
}

.signup{
  position: relative;
  width:100%;
  height: 100%;
}

label{
  color: style.$black;
  font-size: 36px;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.dataEntry{
  width: 80%;
  height: 40px;
  background: style.$gray;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  outline: none;
  border-radius: 30px;
  padding: 12px 28px;
  color: style.$black;
  transition: .8s ease-in-out;
}

input::placeholder{
  color: style.$black;
  opacity: 1;
}

input:hover, .search-input:hover {
  box-shadow: 0 2px 10px rgb(238, 175, 194);
}

button {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: style.$black;
  background: style.$pink;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border-radius: 20px;
  transition: .2s ease-in;
  cursor: pointer;
}

button:hover{

  background: style.$dark-pink;
  box-shadow: 0 2px 10px rgb(238, 175, 194);
  transition: all 0.3s ease-in-out;
  border: 1px solid #e174a3;
}

.login {
  height: 480px;
  background: rgba(94, 92, 92, 0.65);
  border-radius: 60% / 10%;
  transform: translateY(-110px);
  transition: .8s ease-in-out;
}

.login label{
  color: style.$black;
  transform: scale(.6);
}

.chk{
  display: none;
}

.chk:checked ~ .login{
  transform: translateY(-350px);
}

.chk:checked ~ .login label{
  transform: scale(1);
}

.chk:checked ~ .signup label{
  transform: scale(.6);
}

.footerTitleEntry{
  color: style.$black;
  font-size: 20px;
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}

.message, .error {
  background-color: style.$gray;
  color: style.$black;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.message.show, .error.show {
  opacity: 1;
}

@media (max-width: 550px) {
  .searchEntry{
    width: 200px;
  }
  .searchEntry.focused {
    width: 300px;
  }
  @media (max-width: 410px), (max-height: 700px) {
    .mainEntry{
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%) scale(0.7);
      //transform: scale(0.7);
    }
    .searchEntry{
      transition: width 0.3s ease;
      z-index: 1;
      width: 140px;
    }
    .footerTitleEntry{
      font-size: 15px;
      margin: 40px 0 0 0;
    }
    @media (max-width: 300px) {
      .logoEntry{
        transform:  translate(-9px,-50%) scale(0.7);
        left: 0;

      }
      .searchEntry{
        transform: translate(-50%, -50%) scale(0.7);
        position: absolute;
        top: 50%;
        left: 50%;
      }
      .darkmodeEntry {
        transform: translate(0, -50%) scale(0.25);
      }
      .mainEntry {
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%) scale(0.6);
      }
      .footerTitleEntry {
        font-size: 10px;
        margin: 40px 0 0 0;
      }
    }
    @media (max-height: 400px){
      .mainEntry{
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%) scale(0.4);
      }
    }
  }
}