@use 'style';

.header-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-text, .logo-textdarkmode {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-text span {
  font-weight: 700;
  font-size: 20px;
  color: style.$white;
}

.logo-textdarkmode span {
  font-weight: 700;
  font-size: 20px;
  color: style.$dark-gray;
}

.logomode {
  width: 60px;
  height: auto;
}

@media (max-width: 550px) {
  .logo-text, .logo-textdarkmode {
    display: none;
  }
}