@use "style";

.messagesMain{
  flex: 1;
  width: 100%;
  height: 100%;
  background: style.$new-gray;
  //background: none;
  transition: .8s ease-in-out;
  border-radius: 0;
}
//#222222;
.messagesPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;

  &.darkMode {
    .messagesPage_header, .menu, .messagesPage{
      background-image: linear-gradient(style.$light-pink, style.$pink);
      transition: .8s ease-in-out;
    }
    .messagesMain{
      background: style.$white;
      transition: .8s ease-in-out;
    }
    //style.$white-pink;
    .searchInput{
      background: style.$white;
      transition: .8s ease-in-out;
    }
    .searchInput::placeholder{
      color: style.$black;
      transition: .8s ease-in-out;
    }
    .backbutton, .menuButton, .findButton, .fullName, .username, .footerMessages, .menuList li {
      transition: .8s ease-in-out;
      color: style.$black;
    }
    .searchInput{
      color: style.$black;
    }
    .menuList li:hover {
      background: rgba(33, 33, 33, 0.48); // Эффект при наведении
    }

  }
}
.chatsContainer {
  height:100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #333;
  display: flex;
  flex-direction: column;
}

.chats {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #333;
  background-color: style.$dark-pink2;
  border-radius: 15px;
  transition: background-color 0.3s;
  &:hover {
    background-color: style.$light-pink;
  }
}
.chatInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.chatName {
  font-size: 20px;
  top: 0;
  transform: translateY(-50%);
  font-weight: bold;
  color: style.$white;
}
.chatLastMessage {
  font-size: 14px;
  color: style.$white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chatTimestamp {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.time {
  font-size: 12px;
  color: style.$white;
  background: style.$gray;
  padding: 5px;
  border-radius: 15px;
}
.deleteButton,.deleteButtonIco {
  padding: 0;
  //width: 50px;
  //height: 50px;
  color: style.$pink;
}
//.chatsList{
//  align-content: center;
//  list-style: none;
//  padding: 10px;
//  margin: 0;
//  justify-content: center;
//  height: 100%;
//  width: 100%;
//  background: rgb(0, 0, 0, 0);
//}
//
//.chatItem{
//  display: flex;
//  flex-direction: column;
//  margin: 10px;
//  background: style.$dark-pink;
//  border-radius: 15px;
//  width: 95%;
//  height: 100px;
//  //display: flex;
//  align-items: center;
//  padding: 10px;
//  border-bottom: 1px solid #333;
//  //background-color: $secondary-color;
//  //border-radius: 15px;
//  //width: 100%;
//  box-shadow: 0 2px 10px rgb(0, 0, 0);
//  //margin-bottom: 2px;
//  position: relative;
//}
//.chatTimestamp{
//  //top: 50%;
//  //transform: translateY(50%);
//  position: absolute;
//  //display: block;
//  //top: -5%;
//  right: 5%;
//
//}
//
//.chatName{
//  position: absolute;
//  top:1px;
//}
//
//.time{
//
//  padding: 5px;
//  background: style.$dark-gray;
//  border-radius: 15px;
//  color: style.$white;
//}
//.buttonDel{
//  width: 30px;
//  height: 30px;
//  background: none;
//  position: relative;
//  right: 10px;
//}



.messagesPage_header{
  display: flex;
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(style.$dark-pink, style.$super-dark-pik);
  align-items: center;
  justify-content: center;
  transition: .8s ease-in-out;
}

.searchField{
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(+10px);
  left: 100px;
  height: 50px;
  width: 90%;
  background: none;
  border: none;

}
.searchInput{
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: style.$gray;
  color: style.$white;
  border-radius: 25px;
  transition: .8s ease-in-out;
  border: none;
}

.searchInput::placeholder{
  font-weight: bold;
  color: style.$white;

}

.backbutton, .menuButton{
  color: style.$white;
  top: 50%;
  transform: translateY(-50%) translateX(+55px);
  width: 50px;
  margin: 0;
  padding: 0; // Добавьте немного отступа для кликабельной области
  background: none;
  border: none;
  position: absolute;
  left: 0;
  font-size: 100px;
  // Выравнивание содержимого по центру
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer; // Убедитесь, что курсор меняется на указатель при наведении
  transition: background 0.3s; // Плавный переход для фона при наведении (опционально)

  &:hover {
    border:none;
    background: none;
    //background: rgba(0, 0, 0, 0.1); // Пример эффекта при наведении (опционально)
  }
}

.menuButton {
  transform: translateY(-50%) translateX(+5px);
}


.findButton{
  flex: auto;
  justify-content: center;
  align-items: center;
  width: 50px;
  position: absolute; // Оставляем абсолютное позиционирование
  top: 50%;
  left: 95%; // Отступ от правого края
  transform: translateY(-50%); // Центрирование по вертикали
  background: none;
  border: none;
  color: style.$white; // Цвет текста
  cursor: pointer; // Указатель при наведении
  padding: 0;
  margin: 0;
  &:hover{
    border:none;
    background: none;
  }
  transition: .8s ease-in-out;
}

.menu {
  transition: transform 0.5s, opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px; // Ширина меню
  height: 100vh; // Высота меню
  background-image: linear-gradient(style.$dark-pink, style.$super-dark-pik);
  padding: 20px; // Отступы
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); // Тень для меню
  transform: translateX(-100%); // Скрытое положение (вне экрана)
  opacity: 0; // Начальное состояние - невидимое
  z-index: 1000; // Убедитесь,
}

.menuOpen {
  transform: translateX(0); // Положение при открытом меню
  opacity: 1; // Полная видимость
}
.menuClosed {
  transform: translateX(-100%); // Положение при закрытом меню
  opacity: 0; // Невидимое состояние
}
.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px; // Отступ между аватаром и списком
}

.avatar {
  top: 10px;
  transform: translateX(50%);
  padding: 0;
  margin: 0;
  position: absolute;
  right: 50%;
  width: 70px; // Ширина аватарки
  height: 70px; // Высота аватарки
  border-radius: 50%; // Круглая форма
  //margin-right: 10px; // Отступ между аватаром и текстом
}

.userDetails {
  display: flex;
  flex-direction: column; // Вертикальное выравнивание
}

.fullName {
  transition: .8s ease-in-out;
  text-align: center;
  position: absolute;
  top: 90px;
  right: 50%;
  transform: translateX(50%);
  font-size: 18px; // Размер шрифта для ФИО
  color: white;
}

.username {
  transition: .8s ease-in-out;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 145px;
  font-size: 14px; // Размер шрифта для логина
  color: rgba(255, 255,  255, 0.7); // Цвет логина с прозрачностью
}

.menuList {
  top: 300px;
  text-align: center;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  list-style: none; // Убираем маркеры списка
  padding: 0; // Убираем отступы
  margin: 0; // Убираем маргин
}

.menuList li {
  transition: background 0.2s, .8s ease-in-out;
  padding: 15px 0; // Отступы для элементов списка
  color: white; // Цвет текста
  cursor: pointer; // Указатель при наведении
}

.menuList li:hover {
  background: rgba(255, 255, 255, 0.1); // Эффект при наведении
}

.darkmodeMessages{
  position: absolute;
  padding: 0;
  bottom: 180px;
  right: 50%;

  transform:  translateX(50%)  scale(0.4);
}

.footerMessages {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  transition: .8s ease-in-out;
  text-align: center;
  justify-content: center;
  display: flex;
  bottom: 0; // Прижимает футер к низу меню
  color: white; // Цвет текста
  font-size: 12px; // Размер шрифта
  height: 150px;
  width: 100%;
}

.logoMessages{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right:50%;
  transform: translate(+50%, 50%);
}

.footerTextMessages{
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
}